.button {
    background-color: var(--primary-color) !important;
    border-radius: 0 !important;
    border: none !important;
}

.button:hover {
    background-color: var(--primary-color) !important;
    opacity: 0.5 !important;
}