.styled-navbar {
    background-color: transparent !important;
    z-index: 1;
}

.brand {
    color: var(--primary-color) !important;
}

.connectButton {
    background-color: var(--primary-color) !important;
    border-radius: 0 !important;
}